body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("heart-bg.jpg");
    font-family: "Pixelify Sans", sans-serif;
}

#envelope-container {
    text-align: center;
    cursor:pointer;
}

@keyframes pulse {
    0% { transform:scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

#envelope{
    width: 200px;
    animation: pulse 1.5s infinite;
    cursor: pointer;
}

#letter-container{
    display: none;
    position:fixed;
    inset: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.3);
}

.pixel-window {
    width: 600px;
    max-width: 90vw;
    aspect-ratio: 540 / 476;
    background-image: url("window.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    image-rendering: pixelated; 
    
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transform: scale(0.8);
    opacity: 0;
    transition: transform 0.6s cubic-bezier(0.34, 1.56, 0.64, 1), opacity 0.6s ease;
}

.pixel-window.open {
    transform: scale(1);
    opacity: 1;
}

.window-controls-overlay {
    position: absolute;
    top: 6%; 
    right: 7.5%; 
    width: 20%; 
    height: 8%; 
    display: flex;
    justify-content: flex-end;
    gap: 10%;
}

.win-btn {
    width: 32%; 
    height: 100%;
    background: transparent;
    border: none;
    cursor: pointer;
}

.window-content-wrapper {
    width: 82%; 
    height: 60%; 
    margin-top: 15%; 
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1 {
    font-size: clamp(14px, 4vw, 24px);
    margin-bottom: 5px;
    color: #000;
}

p {
    font-size: clamp(12px, 3.5vw, 20px);
}

.cat {
    width: 120px; 
    max-width: 25%;
    margin: 5px 0;
    transition: width 0.4s ease;
    image-rendering: pixelated; 
}

.pixel-window.final .cat {
    width: 100px;
    max-width: 20%;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 15px; 
    position: relative;
    margin-top: 5px;
}

.no-wrapper{
    position:relative;
}

.btn {
    width: 90px; 
    height: auto;
    cursor: pointer;
    user-select: none;
    transition: transform 0.1s;
}

.btn:active {
    transform: scale(0.95);
}

.yes-btn,
.no-btn {
    width: 90px;
    height: auto;
    display: block;
}

.yes-btn {
    position: relative;
    z-index: 2;
    transform-origin: center center;
    transition: transform 0.3s ease;
}

.no-btn {
    z-index: 1;
    position: relative;
    transition: transform 0.15s ease;
    cursor: default;
}

.final-text{
    font-size: clamp(10px, 3vw, 16px);
    line-height: 1.3;
    text-align: center;
    display: inline-block;
    padding: 8px 15px;
    background-color: rgba(255,255,255,0.8);
    border-radius: 12px;
    margin-top: 8px;
    font-family: inherit;
}